# compiled output
/tmp
/out-tsc
/.webpack
yarn-error.log
package-lock.json
archive/
.nyc_output/
/changelog.txt
coverage/

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
/.sass-cache
/connect.lock
/libpeerconnection.log
npm-debug.log
testem.log
/typings
.nyc_output/

# System Files
.DS_Store
Thumbs.db

*.iml
/bin/
